$body-background: #E6EFF6FF;
$signup-background: #2BB3B1FF;
$footer-background: #4ABEBDFF;
$accent-color: #BFDF32FF;
$lightgray: #C8CBD4FF;
$notsowhite: #E9FFFFFF;

$cardsize: 30.5em;
$cardsizeweb: 69em;
$cardpaddingweb: 2.5em;

$h1sizeweb: 2.5em;
$h2sizeweb: 1.9em;
$fontsizeweb: 1.7em;