@import "variables";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: $body-background;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1em 10em -7em black;
    margin: 6em 0;
    width: $cardsize;
}

input, textarea, button {
    font-family: inherit;
}

header, .signup, footer {
    width: 100%;
}

header {
    background-color: white;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.signup {
    background-color: $signup-background;
}

footer {
    background-color: $footer-background;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.header-container, .signup-container, .footer-container {
    margin: 2em;
}

.header-container {
    h1 {
        font-size: 2em;
        color: $signup-background;
        line-height: 2em;
    }
    h2 {
        color: $accent-color;
    }
    p {
        color: $lightgray;
        line-height: 1.8em;
        font-size: 1.35em;
        margin: auto auto 2em;
    }
}

.signup-container {
    h1 {
        font-size: 1.8em;
        line-height: 1.8em;
        margin: 0 0 1em;
        font-weight: 700;
        color: $notsowhite;
    }
    h2 {
        display: flex;
        align-items: center;
        line-height: 1.5em;
        color: #76E4E5FF;
        font-weight: 200;
        .price {
            font-size: 2.15em;
            color: $notsowhite;
            margin: 0 .3em 0 0;
            font-weight: 700;
        }
    }
    p {
        color: $notsowhite;
        font-weight: 100;
        font-size: 1.5em;
        margin: 1em auto 2em auto;
    }
    button {
        width: 100%;
        height: 3em;
        background-color: $accent-color;
        border: none;
        color: $notsowhite;
        border-radius: .4em;
        box-shadow: 0 .7em 1em -1.2em black;
        font-size: 1.5em;
        transition: color .5s, background-color .5s;
        &:hover {
            color: $accent-color;
            background-color: white;
            cursor: pointer;
        }
    }
}

.footer-container {
    color: $notsowhite;
    h1 {
        font-size: 1.8em;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        line-height: 1.5em;
        font-weight: lighter;
        color: #9FF7F8FF;
        font-size: 1.35em;
    }
}

@media all and (min-width: 1024px){ 
    body {
        justify-content: center;
    }
    
    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        width: $cardsizeweb;
    }

    header, .signup, footer {
        padding: $cardpaddingweb;
    }

    header {
        .header-container {
            margin-top: 0 2em;
            h1 {
                font-size: $h1sizeweb;
                margin: -.5em auto auto;
            }
            h2 {
                font-size: $h2sizeweb;
            }
            p {
                font-size: $fontsizeweb;
                margin: auto auto -.5em;
            }

        }
    }

    .signup, footer {
        height: 27em;
        border-radius: 0;
        width: 50%;
    }

    .signup {
        border-bottom-left-radius: .5em;
    }
    
    footer {
        border-bottom-right-radius: .5em;
    }

    .signup-container, .footer-container {
        margin-top: 0;
        margin-bottom: 0;
        h1 {
            font-size: $h2sizeweb;
        }
        p {
            margin-top: 1.2em;
            font-size: $fontsizeweb;
        }
    }

    .footer-container {
        h1 {
            margin-bottom: 1em;
        }
    }
}